html{

    background-color:black;

}

body{
    font-family: 'Maven Pro', sans-serif;
    font-size:20px;
    background-color: black;
    color: white !important;
}


.title{
    padding:20px;
    color: white !important;
}

p{
    padding:10px;
}
.hero-body{
    display:flex;
    justify-content: center;
    padding:100px;
   
}
.navbar-item:hover .navbar-link{
    color: blue !important;
    background-color: none !important;
}
.navbar-item:active{
    background-color: none!important;
    color: white !important;;
}
.navbar-item:focus{
    background-color: none!important;
    color:white !important;
}
.navbar-item.is-active{
    background-color: none !important;
    color:white!important;
}

.navbar-link{
    color:#fff;
    font-size:1rem;
    font-weight: 600;
    margin-top:0px;
    margin-bottom:0px;
}
.navbar-item{
    padding-top:20px;
    padding-bottom:20px;
    margin:10px;
}

/* Override the default hover color for is-tab navbar items */

.list-items{
    margin-left:10px;
}

.card-container{
    display:flex;
    justify-content: space-between;
    max-width: 75%;
    
    margin-left:15%;
    margin-right:15%;
}
.card {
    border-radius: 30px;
    border: #fff 2px solid;
    display: flex;
    align-items:center;
    background-color: black;
    
}


.accordion{
       
}

.accordion-item {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom:1rem;
    border-bottom:2px solid #fff;
    cursor:pointer;
}

.accordion-header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}

.accordion-header h1{
    font-size:1.5rem;

}

.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.accordion-body p{
    padding-top:1rem;
    line-height:1.6;
    /* font-size:1rem; */

}

/* .accordion.active.accordion-body{
    max-height: 300px;
}
                         */
.accordion-body.active{
    display:block !important;
}